    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">


            <ul class="nav navbar-nav navbar-right">
                <li ui-sref-active="active">
                    <a ui-sref="home">
                        <span>Home</span>
                    </a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="animal">
                        <span>Animals</span>
                    </a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="enclosure">
                        <span>Enclosures</span>
                    </a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="favoriteFood">
                        <span>Favorite Food</span>
                    </a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="foodVendor">
                        <span>Food Vendor</span>
                    </a>
                </li>

            </ul>
        </div>
    </nav>
